<h1>My Bookings</h1>

<% @bookings.each do |booking| %>

<div class="bookings">
  <% if booking.instrument.photo? %>
        <%= cl_image_tag booking.instrument.photo.path, width: 200, height: 300, crop: :fill %>
      <% end %>
    <h3><%= booking.instrument.category %></h3>
    <p><%= (booking.date_end - booking.date_start).to_i %> rent days</p>
  </div>
  <div class="message-body">
    <p><strong><%= booking.instrument.name %></strong></p>
    <p>
      <%= booking.instrument.description %>
    </p>
  </div>
  <div class="message-status">
    <p class="status pending">Pending confirmation</p>
    <p> booking.instrument.daily_price </p>
  </div>
</div>

<% end %>
