<div class="container">
  <% content_for :name do %>
  <%= @instrument.name %>
  <% end %>
  <div class="instrument-description">
    <div class="instrument-details">
      <h2><%= @instrument.name %></h2>
      <h4>Category : <%= @instrument.category %></h4>
      <% if @instrument.photo? %>
        <%= cl_image_tag @instrument.photo.path, width: 200, height: 300, crop: :fill %>
      <% end %>
      <p>
        Description :
        <br>
        <%= @instrument.description %>
      </p>
      <p>Address : <%= @instrument.address %></p>
    </div>
    <div class="instrument-booking">
      <div class="instrument-price">
        <h2>Rent price <%= @instrument.hourly_price %> €/h</h2>
      </div>
      <div>
        <%= render 'bookings/form' %>
      </div>
    </div>
  </div>
  <div class="btn-back">
    <%= link_to "Back to list", instruments_path, class: "btn btn-primary" %>
  </div>
</div>
