<div class="container">
  <% content_for :name do %>
  <%= @instrument.name %>
  <% end %>
  <div class="instrument-description">
    <div class="instrument-details">
      <h2><%= @instrument.name %></h2>
      <h4>Category : <%= @instrument.category %></h4>
      <% if @instrument.photo? %>
        <%= cl_image_tag @instrument.photo.path, width: 200, height: 300, crop: :fill %>
      <% end %>
      <p>
        Description :
        <br>
        <%= @instrument.description %>
      </p>
      <p>Address : <%= @instrument.address %></p>
      <div class="btns-instrument">
        <div class="btn-back">
          <%= link_to "Back to list", instruments_path, class: "btn btn-primary" %>
        </div>
        <% if current_user == @instrument.user %>
          <div class="btn-edit">
            <%= link_to "Edit", edit_owner_instrument_path(@instrument), class: "btn btn-primary" %>
          </div>
          <div class="btn-delete">
            <%= link_to "Delete", owner_instrument_path(@instrument), method: :delete, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
    <% if current_user != @instrument.user %>
      <div class="instrument-booking">
        <div class="instrument-price">
          <h3>Rent price <%= @instrument.daily_price %> €/day</h3>
        </div>
        <div>
          <%= render 'bookings/form' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
