<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      <%= content_for(:name) ? "Musiloc | #{yield(:name)} " : "Musiloc" %>
    </title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>

    <%= render (current_page?("/") ? "navbar/navbar-home" : "navbar/navbar") %>
    <%= render 'navbar/flashes' %>

    <%= yield %>
    <!-- <%= render 'footer/footer' %> -->
    <%= javascript_include_tag 'application' %>
  </body>
</html>
